<h1>DebugData/{{id}}</h1>

<router-outlet></router-outlet>
<md-tab-group>
    <md-tab label="Debug">
        <div class="tab debug">
            <div class="flex-row">
                <div class="name">
                    <span class="editor-label">Description</span>
                    <textarea [(ngModel)]="desc"></textarea>
                </div>

                <div class="images">
                    <span class="editor-label">Images</span>
                    <ul>
                        <li *ngFor="let image of images, let i=index">
                            <span>{{image.path}}</span>
                            <md-icon (click)="deleteImage(image, i)">delete</md-icon>
                        </li>
                    </ul>
                </div>

                <div class="actions">
                    <md-icon>email</md-icon>
                    <md-icon>print</md-icon>
                </div>
            </div>

            <div class="upload-file">
                <div class="editor-label">Image File</div>
                <input type="file" #inputFile (change)="onFileSelected(inputFile)"/>
                <input readonly [ngModel]="selectedFile && selectedFile.name"><button (click)="inputFile.click()">...</button>
                <button (click)="upload()">Upload</button>
            </div>
        </div>
    </md-tab>

    <md-tab label="Stress/Test" class="tab stress-test">
    </md-tab>
</md-tab-group>
