




<div class="title">Traveller</div>

<ul>
    <li>
        <a routerLink="/devices">Devices</a>
    </li>

    <li>
        <a routerLink="/admin">Admin</a>
    </li>
    <li>
        <a routerLink="/images">Images</a>
    </li>
    <li>
        <a routerLink="/debugdatas">Debug Data</a>
    </li>
    <li>
        <a routerLink="/fabricators">Fabricator</a>
    </li>
    <li>
        <a routerLink="/packages">Package</a>
    </li>
    <li>
        <a routerLink="/stresstests">Stress Tests</a>
    </li>
    <li>
        <a routerLink="/technologys">Technology</a>
    </li>
    <li>
        <a routerLink="/vendors">Vendors</a>
    </li>
    <li>
        <a routerLink="/vendorjobs">Vendors Job</a>
    </li>
</ul>

<login-status></login-status>
