<div class="title">Traveler </div>

<div class="links">
<a routerLink="/Menus/Admin" class="btn .btn-default" role="button">
    <img src="/app/Layout/Icons/admin-with-cogwheels.png"  class="shadowCSS shadowfilter" height="48" width="48"/>&nbsp;&nbsp;

</a>
<a routerLink="/TravelerObject" class="btn .btn-default" role="button">
    <img src="/app/Layout/Icons/magnifier.png" height="48" width="48" class="shadowCSS shadowfilter"/>&nbsp;&nbsp;

</a>

<a href="#" class="btn .btn-default" role="button">
    <img src="/app/Layout/Icons/new-file.png" height="48" width="48" class="shadowCSS shadowfilter"/>&nbsp;&nbsp;

</a>
<a href="#" class="btn .btn-default" role="button">
    <img src="/app/Layout/Icons/newspaper.png" height="48" width="48" class="shadowCSS shadowfilter"/>&nbsp;&nbsp;

</a>

&nbsp;&nbsp;
<a href="#" class="btn .btn-default" role="button">
    <img src="/app/Layout/Icons/man-user.png" height="48" width="48" class="shadowCSS shadowfilter"/>&nbsp;&nbsp;

</a>
<login-status></login-status>
</div>