:host {
  display: flex;
  flex-direction: row;
  background-color: coral;
  padding: 0.5em;
  color: white;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2em;
  display: flex;
  margin-right: 1em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    display: inline-block;
    margin-right: 1em;
  }
}

a {
  color: white;
}
