
<button class="button button1"  (click)="onSave()">save</button>


<button class="button button1"  (click)="onUpdateStressTest()">updateStressTest</button>
<br><br>
<label>Device</label> &nbsp;
<hr>
    <div class="row">
        <div class="col-sm-2 col-lg-3 " >
            <label>NickName</label><br>
            <select class="btn btn-primary select1" md-select [ngModel]="NickNameSelected?.id" (ngModelChange)="onNicNameChange($event)" style="width:100px" >

                <option md-option *ngFor="let v of nicknamesList" [ngValue]="v?.id">{{v?.name}}</option>
            </select>
        </div>
        <div class="col-sm-2 col-lg-2 " >
            <label>Device</label><br>
            <select class="btn btn-primary select2" md-select [ngModel]="TravelerDeviceSelected?.mantisDevice?.id" (ngModelChange)="onDevChange($event)" style="width:100px" >
            <option md-option *ngFor="let v of devicesList" [ngValue]="v?.mantisDevice.id">{{v?.name}}</option>
            </select>
        </div>

        <div class="col-sm-2 col-lg-2 " >
            <label>lot</label><br>
            <select class="btn btn-primary select3" md-select [ngModel]="LotSelected?.mantisLot.id" (ngModelChange)="onLotChange($event)" style="width:100px" >
                <option md-option  *ngFor="let v of lotsList" [ngValue]="v?.mantisLot.id">{{v?.name}}</option>
            </select>
        </div>

        <div class="col-sm-6 col-lg-5 " (mouseleave)="closeTestProgramList()" >
            <label>Test Program</label><br>
            <button class="btn btn-primary select4" (click)="toggleTestProgramList()">Select Test Program <span class="caret"></span> </button>

            <div  [ngStyle]="tplistdisplay" class="tplistdisplay" >


                <ul class="TestProgramUL">
                    <li>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;Selected Bin  &nbsp; &nbsp; TestProgram  </li>
                    <li   *ngFor="let v of TravelerTestPrograms; let i = index">
                       <button (click)="onTestProgramTravelerSelectChange(i) "style="width:32px;height:32px;color: black" >{{v.selected?"\u2713":"\u00A0"}}</button>
                        <select class="btn btn-info" [ngModel]="v.expectedBin?.id" (ngModelChange)="onBinChange($event,i)" style="width:100px" >
                            <option *ngFor="let t of binList" [ngValue]="t?.id">{{t?.name}}</option>
                        </select>
                        <select class="btn btn-info" [ngModel]="v.testLocation?.id" (ngModelChange)="onTestLocationChange($event,i)" style="width:100px" >
                            <option *ngFor="let t of testlocationList" [ngValue]="t?.id">{{t?.name}}</option>
                        </select>
                        {{v?.testProgram?.mantisTestProgram.testProgramName}}



                        {{v?.expectedBin?.name}}




                    </li>
                </ul >
            </div>
        </div>




    </div>

<hr>
<br>
<label>Test Programs List</label> &nbsp;
<ul class="TPTList">
    <li   *ngFor="let v of TravelerObject?.travelerTestPrograms; let i = index">
        {{v.testProgram?.testProgramName}}
    </li>
</ul>


<br>
<label>Package</label> &nbsp;
<hr>

<div class="row">
    <div class="fabricator col-sm-2 col-lg-2 ">
        <label>Fabricator</label><br>
        <select class="btn btn-primary" [ngModel]="FabricatorSelected?.id" (ngModelChange)="onFabricatorChange($event)" style="width:100px" >
            <option *ngFor="let v of fabricatorList" [ngValue]="v?.id">{{v?.name}}</option>
        </select>
    </div>
    <div class="Technology  col-sm-2 col-lg-2">
        <label>Technology</label><br>
        <select class="btn btn-primary" [ngModel]="TechnologySelected?.id" (ngModelChange)="onTechnolgyChange($event)" style="width:100px" >
            <option *ngFor="let v of technologyList" [ngValue]="v?.id">{{v?.name}}</option>
        </select>
    </div>
    <div class="Packages  col-sm-2 col-lg-2">
        <label>Package</label><br>
        <select class="btn btn-primary" [ngModel]="PackageSelected?.id" (ngModelChange)="onPackageChange($event)" style="width:100px" >
            <option *ngFor="let v of packageList" [ngValue]="v?.id">{{v?.name}}</option>
        </select>
    </div>
    <div class="AssemblyLocation  col-sm-2 col-lg-2">
        <label>Assembly Location</label><br>
        <select class="btn btn-primary" [ngModel]="assemblyLocationSelected?.id" (ngModelChange)="onAssemblyLocationChange($event)" style="width:100px" >
            <option *ngFor="let v of assemblylocationList" [ngValue]="v?.id">{{v?.name}}</option>
        </select>
    </div>

</div>
<br>
<label>Stress</label> &nbsp;
<hr>
<div class="row">
    <div class="fabricator col-sm-2 col-lg-2 ">
        <label>Stress location</label><br>
        <select class="btn btn-primary" [ngModel]="stressLocationSelected?.id" (ngModelChange)="onStressLocationChange($event)" style="width:100px" >
            <option *ngFor="let v of stresslocationList" [ngValue]="v?.id">{{v?.name}}</option>
        </select>
    </div>
    <div class="fabricator col-sm-2 col-lg-2 ">
        <label>Stress</label><br>
        <select class="btn btn-primary" [ngModel]="FabricatorSelected?.id" (ngModelChange)="onChangeObj($event)" style="width:100px" >
            <option *ngFor="let v of fabricatorList" [ngValue]="v?.id">{{v?.name}}</option>
        </select>
    </div>
    <div class="fabricator col-sm-2 col-lg-2 ">
        <label>Total Duration</label><br>
        <input  [(ngModel)]="totalDuration">
    </div>
    <div class="fabricator col-sm-2 col-lg-2 ">
        <label>Jedec Level</label><br>
        <input  [(ngModel)]="jedecLevel">
    </div>
    <div class="fabricator col-sm-2 col-lg-2 ">
        <label>Condition</label><br>
        <input  [(ngModel)]="condition">
    </div>

</div>
<br>
<br>

        <md-icon class="StressAddIcon" (click)="onStressTestAdd()">add_box</md-icon>

<br>
<br>
<br>

        <ul class="stresslist">

            <li  *ngFor="let stresstest of StressTests, let z=index">
                <div style="float:left ;width: 90%">
                <StressTest class="StressTest" [travelerTestPrograms]=TravelerObject?.travelerTestPrograms [stresstest]=stresstest (DeleteDebugData)="DeleteDebugdata($event)" (EmitAction)="EmitActions($event)"></StressTest>
                </div>
                <div style="float:right;margin-top: 100px">
                    <md-icon class="StressDeleteIcon"(click)="onStressTestDelete(stresstest.id)">delete</md-icon>

                </div>
            </li>
           <hr>


        </ul>




