<h3>Edit StressTest</h3>


<md-tab-group>
    <md-tab label="Stress/task">
        <br/>
        <div class="flex-row">

            <label>clips</label>
            <input type="text" [(ngModel)]="clips" required md-maxlength="10">
            <label>FA No</label>
            <input type="text" [(ngModel)]="faNumber" required md-maxlength="10">
            <label>Reballing</label>
            <input type="text" [(ngModel)]="reballingNumber" required md-maxlength="10">
            <label>Box</label>
            <input type="text" [(ngModel)]="box" required md-maxlength="10">
            <label>Zone</label>
            <input type="text" [(ngModel)]="zone" required md-maxlength="10">
        </div>
        <div >
            <br/>
            <label class="editor-label">FA Discription</label>
            <br/>
            <textarea [(ngModel)]="faDiscription"></textarea>
            <br/>
            <label class="editor-label">FA Comments</label>
            <br/>
            <textarea [(ngModel)]="comments"></textarea>


        </div>
    </md-tab>
    <md-tab label="Vendor">
        <div class="flex-row">
            <br/><br/><br/>
                <div class="vendor">
                    <span class="editor-label">Job Number</span>
                    <input type="text" [ngModel]="VendorJob?.jobNum" (ngModelChange)="VendorJob.jobNum=$event">
                </div>
            <div class="vendor">
                <span class="editor-label">Invoice Number</span>
                <input type="text" [ngModel]="VendorJob?.invoiceNum" (ngModelChange)="VendorJob.invoiceNum=$event">
            </div>
            <div class="vendor">
                <span type="text" class="editor-label">Approval Date</span>
                <input [ngModel]="VendorJob?.approvalDate"(ngModelChange)="VendorJob.approvalDate=$event">
            </div>
            <div class="vendor">
                <span class="editor-label">Vendor Name</span>
                <select [(ngModel)]="VendorJob?.vendor.id" style="width:100px" >
                    <option *ngFor="let v of Vendors" [ngValue]="v.id">{{v?.name}}</option>
                </select>


            </div>
            <div class="clearfix"></div>
            <br/>
            <div class="vendor">
                <span class="editor-label">comments</span>
                <input [ngModel]="VendorJob?.comments"(ngModelChange)="VendorJob.approvalDate=$event">
            </div>
            <h3>Need to change DropBox to handle Vendor change on select</h3>

                                    {{VendorJob?.vendor.id}}{{VendorJob?.vendor.name}}

        </div>
    </md-tab>
    <md-tab label="Task's">

        <div class="tab debug">
            <br/>
            <ul>
                <li *ngFor="let taskdatas of taskData, let i=index">
                    {{taskdatas.testProgramId?.temperature}}
                    {{taskdatas.testProgramId?.id}}
                    {{taskdatas.testProgramId?.testProgramName}}

                </li>
            </ul>

        </div>

    </md-tab>
    <md-tab label="Duration Details">
        <br/>
        <div class ="flex-row">
            <div class="table-like">
                <ul>
                    <li>&nbsp;</li>
                    <li><label>Stress</label></li>
                    <li><label>Test</label></li>
                </ul>
            </div>
            <div class="table-like">
                <ul>
                    <li> <label>Qty In</label></li>
                    <li><input type="number" [(ngModel)]="qtyIn" required md-maxlength="10"></li>
                    <li> <input type="number" [(ngModel)]="testQtyIn" required md-maxlength="10"></li>
                </ul>
            </div>
            <div class="table-like">
                <ul>
                    <li> <label>Duration</label></li>
                    <li><input type="number" [(ngModel)]="stressDuration" required md-maxlength="10"></li>
                    <li> <input type="number" [(ngModel)]="testDuration" required md-maxlength="10"></li>
                </ul>
            </div>
            <div class="table-like">
                <ul>
                    <li> <label>Cycle In</label></li>
                    <li><input type="number" [(ngModel)]="stressCycleIn" required md-maxlength="10"></li>
                    <li></li>

                </ul>
            </div>
            <div class="table-like">
                <ul>
                    <li> <label>Date In</label></li>
                    <li><input type="date" [(ngModel)]="stressDateIn" required md-maxlength="10"></li>
                    <li> <input type="date" [(ngModel)]="testDateIn" required md-maxlength="10"></li>

                </ul>
            </div>
            <div class="table-like">
                <ul>
                    <li> <label>Date out</label></li>
                    <li><input type="date" [(ngModel)]="stressDateOut" required md-maxlength="10"></li>
                    <li> <input type="date" [(ngModel)]="testDateOut" required md-maxlength="10"></li>

                </ul>
            </div>
            <div class="table-like">
                <ul>
                    <li> <label>Rejects</label></li>
                    <li><input type="number" [(ngModel)]="stressReject" ></li>
                    <li> <input type="number" [(ngModel)]="testRejects" ></li>

                </ul>
            </div>
            <div class="table-like">
                <ul>
                    <li> <label>Qty Out</label></li>
                    <li><input type="number" [(ngModel)]="stressQtyOut" ></li>
                    <li> <input type="number" [(ngModel)]="testQtyOut" ></li>

                </ul>
            </div>



        </div>
    </md-tab>
    <md-tab label="Debug">
        <div class="tab debug">
            <br/>
            <DebugData
                    [debugdatas]="StressTest?.debugData"

            >
            </DebugData>


        </div>
    </md-tab>
</md-tab-group>