:host {
  display: block;
  width: 100%;
  padding: 1em;
}

table {
  width: 100%;
  table-layout: fixed;
  user-select: none;

  td {
    vertical-align: middle;
  }

  tr{
  }

  td.actions{
    a {
      cursor: pointer;
    }
  }
}