hr {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0;
  border-top: 4px solid #eee;
}

//Device Selects Style
.select1{width:350px !important;}
.select2{width:220px !important;}
.select3{width:200px !important;}
.select4{width:400px !important;}
.TestProgramUL
{
  list-style-type: none;
 background-color: #265a88;
  color:white;
  margin:0;
  overflow:auto;
}
.tplistdisplay
{
  z-index: 50;
  position:absolute;
}
.stresslist {list-style-type: none !important;padding:0px}
.TPTList {list-style-type: none !important;padding:0px}
.stresstest
{

  border-bottom-color: thistle;
  border-bottom-style: solid;
  border-top-color: thistle;
  border-top-style: solid;
}
.StressAddIcon
{  font-size: 36px;  }
.StressDeleteIcon{ font-size: 48px;}
.side_Menu{
  position: fixed;
  top:140px;
  right: 25px;
}
.Save_Icon{font-size: 48px;}