//Device Selects Style
.select1{width:350px !important;}
.select2{width:220px !important;}
.select3{width:200px !important;}
.select4{width:200px !important;}
.select5{width:200px !important;}

hr {
  margin-top: 20px;
  margin-bottom: 10px;
  border: 0;
  border-top: 4px solid #eee;
}
.SearchIcon
{  font-size: 40px;width: 40px;height: 40px;
}